clase_1/Practica/CLI/node_modules
clase_2/Practica/Galeria/node_modules
clase_2/Ejercicio/Geometria/node_modules
clase_3/ejercicios/node_modules
clase_3/practica/node_modules
clase_4/ejercicios/node_modules
clase_4/practica/node_modules

clase_5/ejercicios/node_modules
clase_5/practica/node_modules

clase_6/ejercicios/node_modules
clase_6/practica/node_modules